name: Deploy

on:
  push:
    branches:
      - main

jobs:
  deploy-testing:
    runs-on: ubuntu-latest
    environment:
      name: testing

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: 18
          cache: npm

      - name: Install dependencies
        run: npm ci

      - name: Build
        run: npm run build

      - name: Start (teste)
        run: |
          ls -la
          ls -la dist
