name: Deploy

on:
  push:
    branches:
      - main

jobs:
  deploy-testing:
    runs-on: ubuntu-latest
    environment:
      name: testing

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Simulate deploy
        run: |
          echo "Deploying to TESTING..."
          sleep 5
